.globe {
  position: relative;
  display: block;
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  overflow: hidden;
}

.globe svg {
  width: 100%;
  height: 100%;
}

.globe-ocean {
  fill: currentColor;
}

.globe-land {
  fill: var(--color-dark);
}
